body{
    place-items: center; /*Centraliza horizontal e vertical*/
}

th,td{
    border: 1px solid; /*Borda*/
    padding: 8px; /*Espaço interno*/
    text-align: justify; /*Alinhamento de texto*/
    text-transform: uppercase; /*Letras maiúsculas*/
}

table{
    border-collapse: collapse; /*Junta as bordas*/
    margin-bottom: 10px; /*Adiciona espaço entre as tabelas*/
    margin-top: 50px; /*Adiciona espaço acima da tabela*/
}

button {
  position: fixed; /*Fixa em relação à janela*/
  left: 50%; /*Meio horizontal*/
  transform: translate(-50%, -50%); /*Ajusta para o centro exato*/
}

h1{
    text-align: center; /*Alinha o texto no centro horizontal*/
}